* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  /* 解决图图片与文字 要水平居中会有3px的问题 */
  vertical-align: middle;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
#main {
  position: relative;
  height: 100%;
}
#header {
  background-color: #006699;
  display: flex;
  padding-left: .45rem;
  padding-right: .45rem;
  height: .45rem;
  width: 100vw;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  text-align: center;
  line-height: .45rem;
  font-weight: normal;
}
#header form {
  width: 100%;
  padding-top: 0.05rem;
}
#header form input {
  background-color: #fff;
  text-align: left;
  margin-bottom: 0;
  font-size: .14rem;
}
#header a {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
  position: absolute;
  top: 0;
  color: #fff;
}
#header a:first-of-type {
  left: 0;
}
#header a:last-of-type {
  right: 0;
}
#footer {
  width: 100vw;
  height: .45rem;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  display: block;
  color: #fff;
  padding: .065rem;
  text-align: center;
}
#footer ul li a span {
  margin: .025rem;
  display: block;
}
.form-search {
  display: flex;
  padding: 10px;
}
.form-search .input-search {
  height: .34rem;
  flex: 1;
  text-align: left;
  background-color: #fff;
  border: 1px solid #006699;
  font-size: .14rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-search .btn-search {
  width: .6rem;
  height: .34rem;
  background-color: #006699;
  border-color: #006699;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.product-list ul {
  display: flex;
  flex-wrap: wrap;
}
.product-list ul li {
  width: 50%;
  padding: 0 5px;
}
.product-list ul li a.product {
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  display: block;
  box-shadow: 0px 0px 2px hotpink;
  overflow: hidden;
}
.product-list ul li a.product .product-img {
  width: 100%;
}
.product-list ul li a.product .product-name {
  /* 限制只显示2行文字超出隐藏 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
