* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  /* 解决图图片与文字 要水平居中会有3px的问题 */
  vertical-align: middle;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
#main {
  position: relative;
  height: 100%;
}
#header {
  background-color: #006699;
  display: flex;
  padding-left: .45rem;
  padding-right: .45rem;
  height: .45rem;
  width: 100vw;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  text-align: center;
  line-height: .45rem;
  font-weight: normal;
}
#header form {
  width: 100%;
  padding-top: 0.05rem;
}
#header form input {
  background-color: #fff;
  text-align: left;
  margin-bottom: 0;
  font-size: .14rem;
}
#header a {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
  position: absolute;
  top: 0;
  color: #fff;
}
#header a:first-of-type {
  left: 0;
}
#header a:last-of-type {
  right: 0;
}
#footer {
  width: 100vw;
  height: .45rem;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  display: block;
  color: #fff;
  padding: .065rem;
  text-align: center;
}
#footer ul li a span {
  margin: .025rem;
  display: block;
}
body {
  background-color: #ccc;
}
/* 分类页面的主体样式 */
#main {
  display: flex;
}
#main .category-left {
  width: .8rem;
  position: relative;
}
#main .category-left ul {
  min-height: 5.78rem;
}
#main .category-left ul li a {
  display: block;
  color: #666;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
  font-size: .14rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
#main .category-left ul li.active a {
  background-color: #ccc;
  color: #006699;
}
#main .category-right {
  flex: 1;
  position: relative;
}
#main .category-right ul {
  min-height: 5.78rem;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#main .category-right ul li {
  width: 33.33%;
}
#main .category-right ul li a {
  display: block;
  background-color: #fff;
}
#main .category-right ul li a img {
  width: 100%;
}
#main .category-right ul li a p {
  font-size: .14rem;
  text-align: center;
}
